name: Deploy MkDocs

on:
  push:
    branches:
      - main  # Deploy only when changes are pushed to the main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12.6'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Build the site
      run: |
        mkdocs build

    # - name: Deploy to GitHub Pages
    #   run: |
    #     mkdocs gh-deploy --force --remote-name origin
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GH_PAT }}
        publish_dir: ./site
